#passwordPrompt {
    text-align: center;
    margin-top: 50px;
    border: 1px solid #fff; /* White border */
    border-radius: 8px; /* Rounded corners */
    padding: 20px; /* Add some padding */
    background-color: #fff; /* White background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle effect */
}

#passwordPrompt label {
    margin-right: 10px;
}

#passwordPrompt input {
    padding: 8px;
    border: 1px solid #ccc; /* Light gray border for the input field */
    border-radius: 3px; /* Rounded corners for the input field */
}

#passwordPrompt button {
    padding: 8px 15px;
    background-color: #fe5f75;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

#passwordPrompt button:hover {
    background-color: #d64558;
}


body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #45afd6;
}

.container {
    text-align: center;
}

#folderList {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    margin-bottom: 20px;
}

#folderList table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#folderList th,
#folderList td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#folderList th {
    background-color: #fe5f75;
    color: #fff;
}

#folderList button {
    background-color: #fe5f75;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

#folderList button:hover {
    background-color: #d64558;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
}

.form-buttons {
    display: flex;
    justify-content: center;
}

#folderForm,
#passwordForm {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    width: 100%;
    box-sizing: border-box;
}

#folderContent {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    width: 100%;
    box-sizing: border-box;
    display: none;
}

#folderContent table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#folderContent th,
#folderContent td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#folderContent th {
    background-color: #fe5f75;
    color: #fff;
}

.entry-buttons {
    display: flex;
    justify-content: flex-end;
}

.entry-buttons button {
    margin-left: 5px;
    background-color: #fe5f75;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.entry-buttons button:hover {
    background-color: #d64558;
}
