body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #5feefe; /* background color */
}

.container {
    text-align: center;
}

.task-list {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px; /* Increased max-width for better table display */
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.task-list input,
.task-list textarea,
.task-list button {
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.task-list textarea {
    height: 80px;
}

.task-list-content {
    display: none;
    margin-top: 20px;
}

.task {
    background-color: #fff; /* White background for entries */
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task button {
    margin-top: 5px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
}

.form-buttons {
    display: flex;
    justify-content: flex-end;
}

.horizontal-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#taskListTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#taskListTable th,
#taskListTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#taskListTable th {
    background-color: #5feefe; /* Header background color */
    color: #fff; /* White text color for header */
}

.entry-buttons {
    display: flex;
    justify-content: flex-end;
}

.entry-buttons button {
    margin-left: 5px;
    background-color: #5feefe; /* Button background color */
    color: #fff; /* White text color for button */
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.entry-buttons button:hover {
    background-color: #45bed6; /* Slightly darker red on hover */
}
